

.incorrect-alert{
    color: red;
    margin-bottom: 2rem;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    margin-top: 78px;
}

#loginForm{
    display: flex;
    flex-direction: column;
    margin-top: 4.5rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
   align-items: center;
}
#email,#password,#submit{
    margin: 0.3rem 1rem;
}
